doctype html 
html(lang='en')
    head 
        title To-Do List 
        link(rel='stylesheet', href='/css/main.css')
        script(defer='' src='/js/main.js')
    body 
        div(class="topnav")
            a(class="active", href="/main.pug") My To-Dos
            a(href="/myTodo.pug") Finished To-tos
            a(href="/category.pug") Maybe logout?
            input(type="text" placeholder="Search Category")
        h1 Welcome to your Category list
        div This will be where the category list starts